body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: rgb(217, 213, 213);
    border: 1px solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5rem;
    margin: auto;
    align-items: center;
    gap: 1rem;
    margin: 10% 25%;

   
}

.img-box{
    border: 1px solid;
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
.input-box{
padding: 0.2rem 0rem;

}

input{
    padding: 0.2rem;
}